body{
    margin: 20px;

}

.search{
    background-color: gainsboro;
    color:cyan;
    border-color: cyan;
    border-radius: 10px;
}

.plus{
    background-color: cyan;
    color:ghostwhite;
    border-radius: 50%;
    border-color: cyan;

}

.account{
    background-color:deepskyblue;
    color:ghostwhite;
    border-color: black;
    box-shadow: 5px 5px 5px;
}

.spacing{
    margin-bottom: 20px;

}