h1 {
    background-color: black;
    color:white;

}
span {
    color:cyan
}

h2{
    text-align: center;
    background-color: rebeccapurple;
    color: white;
    
}

h3 {
    text-align: right;
    text-decoration: underline;
    background-color: skyblue;
    color:slateblue
    
}